body {
    margin: 0;
}

header {
    background-color: rgb(100, 75, 124);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-image {
    width: 100%;
}

.recipe-intro, .recipe-ingredients, .recipe-instructions {
    padding: 0 1rem;
}

.recipe-ingredients, .recipe-instructions {
    display: inline-flex;
}


h3 {
    margin-bottom: 0px;
    display: inline-block;
}

li {
    border: 1px;
}